*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

.section-p1{
    padding: 40px 40px;
}

.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 0.8125rem;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}


/* Navbar */
.header{
    position: sticky;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: #e3e6f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);  
    position: sticky;
    z-index: 999;
    top: 0;
    

}
.navlogo{
    width: 100px;
    height: 50px;
    background-size: cover;
    margin-left: 35px;
    margin-top: 5px;
}
.listitems{
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.listitems li{
    list-style: none;
}
.listitems a{
    color: #1a1a1a;
    text-decoration: none;
    transition: 0.3sec ease;
}
.listitems li a:hover,
.listitems li a:active{
    color: #088178;
}

/*  hero Section */

.hero{
    background-image: url("img/hero4.png");
    height: 90vh;
    /* width: 100%; */
    background-position: top 25% ;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero h4{
    padding-bottom: 15px;
}
/* .hero h2{
    padding-bottom: 2px;
} */
.hero h1{
    padding-bottom: 10px;
}
.hero h1{
    color: #088178;
}
.hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px
}

/* Feature Boxes */

.feature{
   
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2px;
    
}

.feature .fe-box{
    width: 160px;
    text-align: center;
    /* padding: 25px 15px; */
    box-shadow: 20px 20px 34px rgba(0,0,0,0.1);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px;
    transition: 0.3s;

}
.feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
.feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.feature .fe-box p{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    margin: 15px 0;
    background-color: #fddde4;
}
.feature .fe-box:nth-child(2) p{
    background-color: #cdebbc;
}
.feature .fe-box:nth-child(3) p{
    background-color: #d1e8f2;
}
.feature .fe-box:nth-child(4) p{
    background-color: #cdd4f8;
}
.feature .fe-box:nth-child(5) p{
    background-color: #f6dbf6;
}
.feature .fe-box:nth-child(6) p{
    background-color: #fff2e5;
}

/*  product section */


.pro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
   
}
.product1{
    text-align: center;
}
.product1 .pro{
    width: 20%;
    /* min-width: 250px; */
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
.product1 .pro .description{
    text-align: start;
    padding: 10px 0;
}
.product1 .pro .description span{
    color: #606063;
    font-size: 0.75rem ;
}
.product1 .pro .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 0.875rem;
}
.product1 .pro .description i{
    font-size: 0.75rem;
    color: rgb(243, 181, 25);
}
.product1 .pro .description h4{
    padding-top: 7px;
    font-size: 0.9375rem ;
    font-weight: 700;
    color: #808178;
}
.product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 700;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Banner */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
}
.banner h4{
    font-size: 1rem;
    color: #fff;
}
.banner h2{
    font-size: 1.875rem ;
    color: #fff;
    padding: 10px 0;
}
.banner h2 span{
    color: #ef3636;
}
.banner button:hover{
    background-color: #088178;
    color: #fff;
}

/* sm-banner */

.sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    background-size: cover;
    min-width: 500px;
    height: 50vh;
    background-position: center;
    padding: 0 30px;
}
.sm-banner .banner-box2{
    background-image: url("img/banner/b10.jpg");
}
.banner-box h4{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
} 
.banner-box h2{
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
} 
.banner-box span{
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 15px;
} 
.banner-box button:hover{
    background-color: #088178;
    border: 1px solid #088178;
}
.banner3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 0 40px;
}
.banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    background-size: cover;
    min-width: 27%;
    height: 30vh;
    background-position: center;
    padding: 20px;
    margin-bottom: 15px;
}
.banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
.banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}
.banner3 h2{
    color: #fff;
    font-size: 1.375rem;
    font-weight: 900;
}
.banner3 h3{
    color: #ec544e;
    font-size: 1.9375rem;
    font-weight: 800;
}
/* news letter */

.newletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("img/banner/b14.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
.newletter h4{
    font-size: 1.375rem;
    font-weight: 700;
    color: #fff;
}
.newletter p{
    font-size: 0.875rem ;
    font-weight: 600;
    color: #818ea0;
}
.newletter p span{
    color: #ffbd27;
}
.newletter .form{
    display: flex;
    justify-content: center;
    width: 40%;
}
.newletter input{
    height: 3.125rem;
    padding-left: 1.25em;
    font-size: 0.875rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
}

/* Footer */

.f-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-section .col{
    display: flex;
    flex-direction: column;
     align-items: flex-start;
     margin-bottom: 20px;
}
.f-section .logo{
    margin-bottom: 30px;
}
.f-section h4{
    font-size: 0.875rem;
    padding-bottom: 20px;
}
.f-section p{
    font-size: 0.8125rem;
    padding-bottom: 8px;
}
.f-section a{
    font-size: 0.8125rem;
    text-decoration: none;
    color: #222;
    padding-bottom: 10px;
}
.f-section .follow{
    margin-top: 20px;
}
.f-section .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
.f-section .install .row img{
    border: 1px solid #088178;
    border-radius: ;
}
.f-section .install img{
    margin: 0 10px 15px 0;
}
.f-section .follow i:hover,
.f-section a:hover{
    color: #088178;
}

/* Copyright */

.copyright{
    width: 100%;
    text-align: center;
}